<div class="resultTable">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>mid</th>
				<th>description</th>
				<th>score</th>
				<th>locations</th>
				<th>boundingPoly</th>
			<tr>
		</thead>
		<tbody>
	    {% set result = results[0] %}
      {% set latLng = results[0].locations[0].latLng %}
      {% set boundingPoly = result.boundingPoly.vertices %}
			<tr>
				<th scope="row">1</th>
				<td>{{ result.mid }}</td>
				<td>{{ result.description }}</td>
				<td>{{ result.score }}</td>
				<td>{{ latLng.latitude }}</td>
				<td>{{ latLng.longitude }}</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
        <th>boundingPoly[Left-Top]</th>
				<th>boundingPoly[Right-Top]</th>
				<th>boundingPoly[Right-Buttom]</th>
				<th>boundingPoly[Left-Buttom]</th>
			<tr>
		</thead>
		<tbody>
      {% set boundingPoly = results[0].boundingPoly.vertices %}
			<tr>
				<th scope="row">1</th>
				<td>{{ boundingPoly[0].x }}, {{ boundingPoly[0].y }}</td>
				<td>{{ boundingPoly[1].x }}, {{ boundingPoly[1].y }}</td>
				<td>{{ boundingPoly[2].x }}, {{ boundingPoly[2].y }}</td>
				<td>{{ boundingPoly[3].x }}, {{ boundingPoly[3].y }}</td>
			</tr>
		</tbody>
	</table>
</div>
