<div id="detectTypeFormInput" class="form-group">
  <label for="detectTypeSelectBox"><span class="label label-default">検知モード</span></label>
  <select name="detectType" id="detectTypeSelectBox" class="form-control">
    <option value="LABEL_DETECTION">物体検知</option>
    <option value="TEXT_DETECTION">テキスト検知</option>
    <option value="FACE_DETECTION">顔検知</option>
    <option value="LANDMARK_DETECTION">ランドマーク検知</option>
    <option value="SAFE_SEARCH_DETECTION">有害コンテンツ検知</option>
    <option value="IMAGE_PROPERTIES">画像色解析</option>
  </select>
</div>
