{% extends "template.html" %}

{% block content %}
<div class="container">

	<div class="howto">
		<h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> <strong>使い方</strong></h3>
		<p>画像ファイルを選択して『判定する』ボタンを押すとCloudVisionAPIに投げて判定結果を返します。</p>
	</div>
	<br />

	<div class="form">
		<h3><span class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span> <strong>判定する</strong></h3>
		<form id="mainForm" method="POST" action="upload" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-4">
					{% include 'selectDetectTypeInput.html' %}
					{% include 'fileInput.html' %}
				</div>
			</div>

			<button type="submit" class="btn btn-primary" id="submitButton" disabled="disabled">判定する</button>
		</form>
	</div>
	<hr>

	{% if imagePath %}
	<div class="image text-center">
		<h3>判定画像</h3>
		<img src="{{ imagePath }}" alt="submitImage" class="img-thumbnail">
	</div>
	{% endif %}
	{% if results %}
	<div class="result">
		<div>
			<h4><span class="label label-info">Detection Type:</span>  {{ detectType }}</h4>
		</div>
		{% if detectType == 'LABEL_DETECTION' %}
			{% include 'labelTable.html' %}
		{% elseif detectType == 'SAFE_SEARCH_DETECTION' %}
			{% include 'safeSearchTable.html' %}
		{% endif %}
	{% endif %}

</div>
{% endblock %}
