<div id="detectTypeRadioButton" class="form-group">
  <span class="label label-default">検知モード</span>
  <div class="radio">
	  <label>
	    <input type="radio" name="detectType" id="LABEL_DETECTION" value="LABEL_DETECTION" checked>
		  物体検知
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="TEXT_DETECTION" value="TEXT_DETECTION" disabled>
      テキスト検知
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="FACE_DETECTION" value="FACE_DETECTION" disabled>
		  顔検知
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="LANDMARK_DETECTION" value="LANDMARK_DETECTION" disabled>
		  ランドマーク検知
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="LOGO_DETECTION" value="LOGO_DETECTION" disabled>
		  ロゴ検知
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="detectType" id="SAFE_SEARCH_DETECTION" value="SAFE_SEARCH_DETECTION">
		  有害コンテンツ検知
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="IMAGE_PROPERTIES" value="IMAGE_PROPERTIES" disabled>
		  画像属性検出
	  </label>
	</div>
</div>
