<div id="detectTypeRadioButton" class="form-group">
  <div class="radio">
	  <label>
	    <input type="radio" name="detectType" id="LABEL_DETECTION" value="LABEL_DETECTION" checked>
		LABEL_DETECTION
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="TEXT_DETECTION" value="TEXT_DETECTION" disabled>
      TEXT_DETECTION
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="FACE_DETECTION" value="FACE_DETECTION" disabled>
		  FACE_DETECTION
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="LANDMARK_DETECTION" value="LANDMARK_DETECTION" disabled>
		  LANDMARK_DETECTION
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="LOGO_DETECTION" value="LOGO_DETECTION" disabled>
		  LOGO_DETECTION
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="detectType" id="SAFE_SEARCH_DETECTION" value="SAFE_SEARCH_DETECTION">
		  SAFE_SEARCH_DETECTION
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="detectType" id="IMAGE_PROPERTIES" value="IMAGE_PROPERTIES" disabled>
		  IMAGE_PROPERTIES
	  </label>
	</div>
</div>
